
.sidebar-top {
    -fx-background-image: url("../../image/back.jpg");
}
.sidebar-button{

    -fx-background-color: transparent;
    -fx-border-image-width: 0;
    -fx-border-color: transparent;
    -fx-background-radius: 0px;
    -fx-alignment: center-left;
    -fx-text-fill: #c7dcdd;
    /*-fx-fill:#111;*/
}
.sidebar-button:focused {
    -fx-background-color: #505c6d;
    -fx-text-fill: #eaf3ff;
}

.selected {
    -fx-background-color:#353b48;
}

.sidebar-icon{
    -fx-fill:#7f8c8d;
}

.topButton {
    -fx-background-color:#3498db;
}

.image {
    -fx-border-width: 1px;
    -fx-border-color: #2f3640;
    -fx-effect: glow;
}
#statusBar {
    -fx-alignment: center;
    -fx-background-color: #0a7099;

}
.topMenuLabelText {
    -fx-text-fill: #edf8fc;
    -fx-font-size: 30px;
}
